# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next
out
build
dist

# Git
.git
.gitignore

# Entorno
.env
.env*.local
.env.production

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
.vscode
.idea

# Debug
*.log

# Documentación
README.md
CHANGELOG.md
LICENSE

# Docker
docker-compose.yml
.dockerignore

# NOTA: El Dockerfile debe estar incluido en el despliegue
# para que EasyPanel pueda construir la imagen Docker

